.main_header {
  width: 100%;
  height: auto;
  position: sticky;
  background-color: black; }

.main_navbar ul {
  height: auto;
  align-items: center;
  padding: 5px 5px !important;
  cursor: pointer;
  display: flex;
  justify-content: space-around; }
  .main_navbar ul li {
    width: 100%;
    text-align: center;
    list-style: none; }
    .main_navbar ul li a {
      padding: 15px 0px 15px 0px;
      width: 100%;
      font-family: "Inconsolata", sans-serif;
      display: inline-block;
      text-decoration: none;
      color: #fff; }
      .main_navbar ul li a:hover {
        background-color: #bbbbc3;
        color: black; }

* {
  margin: 0;
  padding: 0;
  font-family: "Inconsolata", sans-serif;
  font-size: 15px;
  line-height: 1.5; }
