.main_header {
  width: 100%;
  height: auto;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: black; }

.main_navbar ul {
  height: auto;
  padding: 5px 5px !important;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .main_navbar ul li {
    width: 100%;
    text-align: center;
    list-style: none; }
    .main_navbar ul li a {
      padding: 8px 0px 8px 0px;
      width: 100%;
      font-family: "Inconsolata", sans-serif;
      display: inline-block;
      text-decoration: none;
      color: #fff; }
      .main_navbar ul li a:hover {
        background-color: #bbbbc3;
        color: black; }

.header_img_section {
  position: relative;
  background-size: cover;
  filter: grayscale(50%);
  height: 500px;
  background-image: url("../assets/img/header_img.png");
  display: flex;
  align-items: center;
  justify-content: center; }
  .header_img_section .poster {
    text-align: center; }
    .header_img_section .poster span {
      color: #fff;
      font-size: 90px; }
  .header_img_section .table_open {
    padding: 12px 24px !important;
    position: absolute;
    bottom: 0;
    left: 0; }
    .header_img_section .table_open span {
      background-color: black;
      color: #fff;
      padding: 0px 10px 0px 10px; }
  .header_img_section .address {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    padding: 12px 24px !important; }

.main_section_about {
  background-color: #faf4e9; }
  .main_section_about .about_container {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px; }
    .main_section_about .about_container h2 {
      text-align: center !important;
      width: auto;
      padding: 65px; }
      .main_section_about .about_container h2 span {
        padding: 0px 10px 0px 10px;
        font-weight: 400;
        letter-spacing: 4px;
        font-size: 18px;
        color: #fff;
        background-color: black; }
    .main_section_about .about_container p {
      padding-top: 20px;
      font-size: 18px !important; }
    .main_section_about .about_container .text_container {
      margin: 20px 0px 20px 0px;
      border-left: 6px solid #ccc !important;
      background-color: #f1f1f1 !important;
      padding: 0.01em 16px; }
      .main_section_about .about_container .text_container p {
        font-size: 18px !important;
        font-family: "Inconsolata", sans-serif; }
    .main_section_about .about_container img {
      width: 100%; }

.main_menu_section {
  background-color: #faf4e9; }
  .main_menu_section .menu_container {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px; }
    .main_menu_section .menu_container .container_menu {
      box-shadow: 0px 0px 20px #888888; }
      .main_menu_section .menu_container .container_menu div {
        padding: 0.01em 16px; }
      .main_menu_section .menu_container .container_menu .button_container {
        height: 40px;
        padding: 0 !important;
        box-shadow: 0px 0px 20px #888888; }
        .main_menu_section .menu_container .container_menu .button_container button {
          font-size: 18px !important;
          width: 50%;
          border: none;
          height: 100%; }
          .main_menu_section .menu_container .container_menu .button_container button:hover {
            background-color: grey;
            color: #fff; }
      .main_menu_section .menu_container .container_menu p {
        color: #757575 !important; }
    .main_menu_section .menu_container h2 {
      text-align: center !important;
      width: auto;
      padding: 65px; }
      .main_menu_section .menu_container h2 span {
        padding: 0px 10px 0px 10px;
        font-weight: 400;
        letter-spacing: 4px;
        font-size: 18px;
        color: #fff;
        background-color: black; }
    .main_menu_section .menu_container h3 {
      padding: 20px 0px 20px 0px; }
    .main_menu_section .menu_container p {
      padding-bottom: 20px;
      font-size: 18px !important; }
    .main_menu_section .menu_container .text_container {
      margin: 20px 0px 20px 0px;
      border-left: 6px solid #ccc !important;
      background-color: #f1f1f1 !important;
      padding: 0.01em 16px; }
      .main_menu_section .menu_container .text_container p {
        font-size: 18px !important;
        font-family: "Inconsolata", sans-serif; }
    .main_menu_section .menu_container img {
      width: 100%;
      padding: 30px 0px 30px 0px; }

.main_section_where {
  background-color: #faf4e9; }
  .main_section_where h2 {
    text-align: center !important;
    width: auto;
    padding: 65px; }
    .main_section_where h2 span {
      padding: 0px 10px 0px 10px;
      font-weight: 400;
      letter-spacing: 4px;
      font-size: 18px;
      color: #fff;
      background-color: black; }
  .main_section_where .img_container {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px; }
    .main_section_where .img_container img {
      padding: 20px 0px 20px 0px;
      width: 100%; }
    .main_section_where .img_container p {
      padding: 10px 0px 10px 0px; }
      .main_section_where .img_container p strong {
        background-color: black;
        color: #fff;
        padding: 0px 8px 0px 8px; }

.containers {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr; }
  .containers .form {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    position: relative; }
    .containers .form div {
      position: absolute;
      bottom: 0;
      justify-content: space-between;
      width: 100%;
      display: flex;
      padding: 11px 22px 10px 2px; }
    .containers .form .form-input {
      height: 40px;
      margin-bottom: 20px;
      padding: 8px 16px;
      font-size: 16px; }
  .containers .form-button {
    width: 160px;
    background-color: black;
    color: #fff;
    font-size: 16px;
    border: 0;
    padding: 8px 14px; }
    .containers .form-button:hover {
      background-color: #b6b6b6;
      color: black; }

* {
  margin: 0;
  padding: 0;
  font-family: "Inconsolata", sans-serif;
  font-size: 15px;
  line-height: 1.5; }
