.main_section_about {
    background-color: $main_background-color;
    .about_container {
        margin-left: auto;
        margin-right: auto;
        max-width: 700px;
        h2 {
            text-align: center !important;
            width: auto;
            padding: 65px;
            span {
                padding: 0px 10px 0px 10px;
                font-weight: 400;
                letter-spacing: 4px;
                font-size: 18px;
                color: $navbar_color;
                background-color: $header_color;
            }
        }
        p{
            padding-top: 20px;
            font-size: 18px!important;
        }
        .text_container{
            margin: 20px 0px 20px 0px;
            border-left: 6px solid #ccc!important;
            background-color: #f1f1f1!important;
            padding: 0.01em 16px;
            p{
                font-size: 18px!important;
                font-family: "Inconsolata", sans-serif;
            }
           
        }
        img{
            width: 100%;
        }
    }
}

@media screen and (max-width: 700px) {
    .about_container{
        padding: 20px;
    }
}