.header_img_section {
    position: relative;
    background-size: cover;
    filter: grayscale(50%);
    height: 500px;
    background-image: url("../assets/img/header_img.png");
    display: flex;
    align-items: center;
    justify-content: center;
    .poster {
        text-align: center;
        span {
            color: $navbar_color;
            font-size: 90px;
        }
    }
    .table_open {
        padding: 12px 24px !important;
        position: absolute;
        bottom: 0;
        left: 0;
        span {
            background-color: $header_color;
            color: $navbar_color;
            padding: 0px 10px 0px 10px;
        }
    }
    .address {
        position: absolute;
        bottom: 0;
        right: 0;
        color: $navbar_color;
        padding: 12px 24px !important;
    }
}
